includes:
    - phar://phpstan.phar/conf/config.level5.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    tipsOfTheDay: false
    tmpDir: tmp/
    paths:
        - src/
    doctrine:
#        repositoryClass: Col\ORM\AbstractEntityRepository
        objectManagerLoader: entity-manager.php
